@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f8fe;
  --background: #f5f8fe;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f8fe;
    --background: #f5f8fe;
    --foreground: #ededed;
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

body {
  /* color: var(--foreground); */
  background: var(--background);
  /* font-family: "Roboto", sans-serif; */
}
